[submodule "src/vscode-drawio"]
	path = vscode/src/vscode-drawio
	url = git@github.com:hediet/vscode-drawio.git
[submodule "vscode-drawio"]
	path = vscode-drawio
	url = https://github.com/hediet/vscode-drawio.git
